@import './base.css';

/* === Police pour les titres : Lobster === */
@font-face {
  font-family: 'Lobster';
  src: url('./fonts/Lobster-Regular.woff') format('woff'),
       url('./fonts/Lobster-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* === Police pour le texte : Lora === */
@font-face {
  font-family: 'Lora';
  src: url('./fonts/Lora-Regular.woff') format('woff'),
       url('./fonts/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4 {
  font-family: 'Lobster', Arial;
}

body, p, li {
  font-family: 'Lora', sans-serif;
}

#app {
  width: 100%;
  padding: 0;
  font-weight: normal;
}

a{
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
/*style globaux*/
 body {
  margin: 0;
  padding: 0;
  background-color: #030660;
  min-height: 100vh;
}
